* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: white;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.logo h2 {
    text-transform: uppercase;
    background-image: linear-gradient(
     -225deg,
     #FF8787 0%,
     #9ED5C5 29%,
     #F0FF42 67%,
     #00FFD1 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: xx-large;
     font-weight: 700;
}

@keyframes textclip {
    to{
        background-position: 200% center;
    }
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

p {
    color: black;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 500%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: aqua;
    color: black;
    padding: 8px 30px;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover {
    background: black;
}
.header {
    background: radial-gradient(white,gray);
}

.header .row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}

.title::after {
    content: '';
    background: aqua;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4 {
    color: black;
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

.rating .fa {
    color: aqua;
}

.col-4:hover {
    transform: translateY(-5px);
}

/* Testi */

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3:hover {
    transform: translateY(-10px);
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 50px;
}

.testimonial .col-3 h3 {
    color: black;
}

/* brand */

.brands {
     margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);
}

/* Footer */

.footer {
    background: rgb(0, 255, 170);
    color: black;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: black;
    font-weight: 800;

}

.footer h3 {
    color: black;
    margin-bottom: 20px;
    font-weight: 800;
}

.footer hr {
    border: none;
    background: black;
    height: 1px;
    margin: 20px 0;
    font-weight: 800;
}

.copyright {
    text-align: center;
    color: black;
    font-weight: bold;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* all products */

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

.row-2 h2 {
    color: black;
}

select {
    border: 1px solid aqua;
    padding: 5px;
}

select:focus {
    outline: none;
}

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid aqua;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover {
    background: aqua;
    color: black;
}

.single-product {
    margin-top: 80px;
}

.single-product .col-2 h1 {
    color: black;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;
    right: 0;
 
}

.single-product .col-2 h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product .col-2 h3 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
    color: black;
}

.single-product .col-2 select {
    display: block;
    padding: 10px;
    margin: 20px;
}

.single-product .col-2 input {
    width: 50px;
    margin-right: 10px;
    border: 1px solid aqua;
    font-size: 20px;
    height: 40px;
    padding-left: 10px
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: aqua;
    margin-left: 10px;
}

.small-container .row a {
    text-decoration: none;
    color: black;
}

/* login page */

.account-page {
    padding: 50px 0;
    background: white;
}

.form-container  {
    background: black;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
}

.form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: white;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn {
    display: inline-block;
}

.form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}

form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus {
    outline: none;
}

#LoginForm {
    left: -300px;
}

#RegForm {
    left: 0;
}

#Indicator {
    width: 100px;
    border: none;
    background: aqua;
    height: 3px;
    margin: 8px;
    transform: translateY(100px);
    transition: transform;
}

form a {
    font-size: 12px;
}

/* menu */

@media only screen and (max-width: 800px) {
    nav ul {
        /* position: absolute;
        top: 70px;
        left: 0;
        background: #fff;
        width: 100%; */
        /* overflow: hidden;
        transition: max-height 0.5s; */
    }

    nav ul li {
        /* display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px; */
    }

    nav ul li a {
        /* color: black; */

    }

    .menu-icon {
        /* display: block;
        cursor: pointer; */
    }
}

/* media 600 screen */

@media only screen and (max-width: 600px) {
    .row {
        text-align: center;
    }

    .col-2 .col-3 .col-4 {
        flex-basis: 100%;
    }

    .single-product .row {
        text-align: left;
    }

    .single-product .col-2 {
        padding: 20px 0;
    }

    .single-product {
        font-size: 26px;
        line-height: 32px;
    }
}

